﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*font-family: 'Segoe UI';*/
     font-family: Tahoma;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    color: darkgreen;
}

h3 {
    color: darkolivegreen;
}

h4 {
    color: darkolivegreen;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"] {
    max-width: 280px;
}


.my_logo {
    border:thin solid beige;
    border-radius: 4px;
    height: 153px;
    width: 244px;
}

.my_chattextbox {
    margin-top:15px;
     max-height:300px;
      overflow:auto;
       background-color:antiquewhite
}

.jumbotron {
    /*font-family: 'Segoe UI';*/
    font-family: Tahoma;
    background-color:lightgoldenrodyellow;
    background-image: linear-gradient(to bottom right, #FFF6A6 0%, #F2F2EC 100%);
    border: 1px solid lightgrey;
    color: darkgreen;
    text-shadow: white 4px 5px 6px; 
}

.jumbotron h1 {
    font-family: 'Segoe Script';
    font-synthesis: weight;
    color: black;
    width: 957px;
    font-size:43px;
    padding-left: 50px;
}

.btn-primary{
    background-color: beige;
    border: 1px solid lightgrey;
    color: black;
}

  



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
