﻿@model IEnumerable<CRM_v2.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users control</h2>
<p>
    @Html.ActionLink("Back to Administration", "Index", "Adminka")
</p>
<table class="table">
    <tr>
        <th class="col-md-offset-0 col-md-1">
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th class="col-md-1" style="max-width:30px;">
            @*@Html.DisplayNameFor(model => model.SecurityStamp)*@
            Security<br />Stamp
        </th>

        <th class="col-md-1" style="max-width:30px;">
            @*@Html.DisplayNameFor(model => model.LockoutEndDateUtc)*@
            LockoutEnd<br/>DateUtc
        </th>

        <th class="col-md-1" style="max-width:30px;">
            @*@Html.DisplayNameFor(model => model.LockoutEnabled)*@
            Lockout<br />Enabled
        </th>
        <th class="col-md-1" style="max-width:30px;">
            @*@Html.DisplayNameFor(model => model.AccessFailedCount)*@
            AccessFailed<br />Count
        </th>

        <th class="col-md-1" style="max-width:30px;">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.isClient)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.isStaff)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.AprClient)
        </th>
        <th class="col-md-1">
            @Html.DisplayNameFor(model => model.AprStaff)
        </th>
      
     
        <th class="col-md-pull-10"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @if (item.LockoutEndDateUtc >= DateTime.UtcNow)
            {
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>        
              
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isStaff)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprStaff)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            <br />
            @Html.ActionLink("Reset password", "ResetPassword", new { id = item.Id })
            <br />
            @Html.ActionLink("Lock user", "UsrLock", new { id = item.Id }) |
            @Html.ActionLink("Unlock user", "UsrUnlock", new { id = item.Id })
            
        </td>
    </tr>
}

</table>

