﻿@model Hello_CodeFirst_MVC.Models.Picture
@using Hello_CodeFirst_MVC.Models

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Pictures", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Picture</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PictureID)

        <div class="form-group">
            @Html.LabelFor(model => model.PictureName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PictureName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PictureName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Author, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Author, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Author, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })*@
                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                                + Convert.ToBase64String(Model.Image) + "\" />")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descriptions, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (Description item in Model.Descriptions)
                {
                    <div>
                        @Html.HiddenFor(x => @item.PictureID)
                        @Html.HiddenFor(x => @item.DescriptionID)
                        @Html.DisplayFor(x => @item.DescriptionText)
                    </div>
                }
            </div>
        </div>

        <div>
            @Html.Partial("CreateImage")
        </div>

        <div class="form-group" style="margin-top:15px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}



<div class="form-group">
    <div class="col-md-10">

        @Html.ActionLink(
            linkText: "Add description",
            actionName: "Create",
            controllerName: "Descriptions",
            routeValues: new
            {
                PictureID = Model.PictureID

            },
            htmlAttributes: null
            )

        |
        @Html.ActionLink(
            linkText: "Edit descriptions",
            actionName: "Find",
            controllerName: "Descriptions",
            routeValues: new
            {
                PictureID = Model.PictureID

            },
            htmlAttributes: null
            ) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
