﻿<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Statistics</h4>
            </div>
            <div class="modal-body">

             Init statistics?
                <div id="privacy"></div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="privacylink" href="/ReinitStatistica/ReInitTbl">Reinitialization</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               
               

                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


