﻿@model CRM_v2.Models.UsrStat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>UsrStat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastLogin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastLogin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastRole)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastRole)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastAction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastAction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastActionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
