﻿@model CRM_v2.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspNetUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isStaff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AprClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AprStaff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AprStaff)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
        </dt>

        <dd>
           UTC @Html.DisplayFor(model => model.LockoutEndDateUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
             @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div>
    <dl class="dl-horizontal">
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
            @Html.ActionLink("Back to List", "Index")
    </dl>
</div>

