﻿@model CRM_v2.Models.UsrPwd

@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Are you shure?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
        </dd>



        <dt>
            Password
          
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pwd)
        </dd>

        <dt>
            Confirm
         
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cnfpwd)
        </dd>



    </dl>
    @ViewBag.Message


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Reset to" class="btn btn-default" /> |

            @Html.ActionLink("Back to list", "Index")
        </div>
    }
</div>




