﻿<%@ Page Title="Contacts" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Contact.aspx.cs" Inherits="CRM_v2.Contact" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2><%: Title %>.</h2>
    <h4>BrainAcademy copyright</h4>
    <address>
        BrainAcademy<br />
        тел<abbr title="Phone">:</abbr>
        +380 0000000</address>

    <address>
        <strong>e-mail:</strong>  test@example.com<br />
    </address>
</asp:Content>
