﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Error.aspx.cs" Inherits="CRM_v2.Error" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error message</title>
</head>
<body>
   
    <div>
     <h2>Sorry</h2>
    <p>An unexpected error has occurred</p>
    </div>
   
</body>
</html>
