﻿@model PagedList.IPagedList<CRM_v2.Models.UsrStat>
@using PagedList.Mvc;

<table id="UsrStatTbl" class=" table table-striped table-condensed table-bordered" style="margin-top:10px;">
    <thead>
        <tr>
            <th class="col-md-offset-0 col-md-3"></th>
            <th class="col-md-1">Id </th>
            <th class="col-md-1">UserName </th>
            <th class="col-md-2">LastRole </th>
            <th class="col-md-2">LastLogin </th>
            <th class="col-md-4">LastAction </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class=" col-md-offset-0 col-md-3">

                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.LastRole)
                </td>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => item.LastLogin)
                </td>
                <td class="col-md-4">
                    @Html.DisplayFor(modelItem => item.LastAction)
                </td>
            </tr>
        }
    </tbody>
</table>
