﻿<%@ Page Title="Registration" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Register.aspx.cs" Inherits="CRM_v2.Account.Register" %>

<asp:Content runat="server" ID="BodyContent" ContentPlaceHolderID="MainContent">
    <h2><%: Title %></h2>
    <p class="text-danger">
        <asp:Literal runat="server" ID="ErrorMessage" />
    </p>

    <div class="form-horizontal">
        <h4>New user</h4>
        <hr />
        <asp:ValidationSummary runat="server" CssClass="text-danger" />
        <div class="form-group">
            <asp:Label runat="server" AssociatedControlID="UserName" CssClass="col-md-2 control-label">Логін</asp:Label>
            <div class="col-md-10">
                <asp:TextBox runat="server" ID="UserName" CssClass="form-control" />
                <asp:RequiredFieldValidator runat="server" ControlToValidate="UserName"
                    CssClass="text-danger" ErrorMessage="The user name field is required." />
            </div>
         </div>

        
        <div class="form-group">
                <div class="col-md-offset-1 checkbox">
                <asp:Label runat="server" AssociatedControlID="isClient" CssClass="col-md-2 control-label">     
                <asp:CheckBox runat="server" ID="isClient" CssClass="col-md-offset-8"  />
                      Client</asp:Label>
               
                </div>
        </div>

        <div class="form-group">
                <div class="col-md-offset-1 checkbox">
                <asp:Label runat="server" AssociatedControlID="isStaff" CssClass="col-md-2 control-label"> 
                <asp:CheckBox runat="server" ID="isStaff" CssClass="col-md-offset-8"  />
                    Staff</asp:Label>
               
                </div>
       </div>
        

       <div class="form-group">
                <br/>
                <asp:Label runat="server" AssociatedControlID="Email" CssClass="col-md-2 control-label"> e-mail</asp:Label>
                <div class="col-md-10">
                <asp:TextBox runat="server" ID="Email" CssClass="form-control" />
                <asp:RequiredFieldValidator runat="server" display="Dynamic" ControlToValidate="Email"
                    CssClass="text-danger" ErrorMessage="The email field is required." />
                <asp:RegularExpressionValidator display="Dynamic" ControlToValidate="Email"
                    CssClass="text-danger" ErrorMessage="Uncorrect format." ValidationGroup="Allvalidators" ValidateRequestMode="Enabled" runat="server" ValidationExpression="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"  />
                <br/>
                </div>
               
       
        </div>      
       
        <div class="form-group">
            <asp:Label runat="server" AssociatedControlID="Password" CssClass="col-md-2 control-label">Password</asp:Label>
            <div class="col-md-10">
                <asp:TextBox runat="server" ID="Password" TextMode="Password" CssClass="form-control" />
                <asp:RequiredFieldValidator runat="server" ControlToValidate="Password"
                    CssClass="text-danger" ErrorMessage="The password field is required." />
            </div>
        </div>
        <div class="form-group">
            <asp:Label runat="server" AssociatedControlID="ConfirmPassword" CssClass="col-md-2 control-label">Confirm password</asp:Label>
            <div class="col-md-10">
                <asp:TextBox runat="server" ID="ConfirmPassword" TextMode="Password" CssClass="form-control" />
                <asp:RequiredFieldValidator runat="server" ControlToValidate="ConfirmPassword"
                    CssClass="text-danger" Display="Dynamic" ErrorMessage="The confirm password field is required." />
                <asp:CompareValidator runat="server" ControlToCompare="Password" ControlToValidate="ConfirmPassword"
                    CssClass="text-danger" Display="Dynamic" ErrorMessage="The password and confirmation password do not match." />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <asp:Button runat="server" OnClick="CreateUser_Click" Text="Registration" CssClass="btn btn-default" />
            </div>
        </div>
    </div>
</asp:Content>
