﻿                                    @*@model IEnumerable<CRM_v2.Models.CtrlActStat>*@
@model PagedList.IPagedList<CRM_v2.Models.CtrlActStat>
@using PagedList.Mvc;

<div class="row">
    <table id="CtrlActStatTbl" class=" table table-striped table-condensed table-bordered"style="margin-top:10px;">
        <thead>
            <tr class="row">
                <th class="col-md-1"></th>
                <th class="col-md-1">Action</th>
                <th class="col-md-1">Controller</th>
             
                <th class="col-md-1">UserHost</th>
               
                <th class="col-md-1">HttpMethod</th>
             
                <th class="col-md-1">UserName</th>
                <th class="col-md-3">StartExecution</th>
                <th class="col-md-3">FinishExecution</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class="row">
                    <td class="col-md-1">
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Action)
                    </td>

                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Controller)
                    </td>

                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.UserHost)
                    </td>

                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.HttpMtthod)
                    </td>

                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.StartExecution)
                    </td>
                    <td class="col-md-3">
                        @Html.DisplayFor(modelItem => item.FinishExecution)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>